@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter Variable', 'sans-serif';
  --font-main-header: 'Protest Strike', sans-serif;

  --color-ochre-50: #fdf8ed;
  --color-ochre-100: #f9eed3;
  --color-ochre-200: #f1daa5;
  --color-ochre-300: #e7bf6e;
  --color-ochre-400: #db9f41;
  --color-ochre-500: #d08b35;
  --color-ochre-600: #bd7633; /* Main base color for the old website */
  --color-ochre-700: #9d5a2b;
  --color-ochre-800: #804928;
  --color-ochre-900: #6a3e24;
  --color-ochre-950: #3b1f11;

  --color-ink-50: #f6f6f6;
  --color-ink-100: #e7e7e7;
  --color-ink-200: #d1d1d1;
  --color-ink-300: #b0b0b0;
  --color-ink-400: #888888;
  --color-ink-500: #6d6d6d;
  --color-ink-600: #5d5d5d;
  --color-ink-700: #4f4f4f;
  --color-ink-800: #454545;
  --color-ink-900: #3d3d3d;
  --color-ink-950: #0e0e0e;

  --animate-super-slow-zoom: slow-zoom 37s ease forwards;
  --animate-slow-zoom: slow-zoom 27s ease forwards;
  --animate-fast-zoom: fast-zoom 9s ease alternate infinite;
  --animate-medium-zoom: medium-zoom 15s ease-in-out forwards;

  @keyframes medium-zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }

  @keyframes slow-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
  
    @keyframes fast-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
    }
}


.btn-primary {
  @apply bg-ochre-600 shadow-md hover:shadow-ochre-100/20 border sm:!max-w-[250px] border-ochre-600 text-white font-semibold px-5 py-2 flex items-center rounded-sm justify-center gap-2 cursor-pointer hover:bg-white hover:border-ochre-700 hover:text-ochre-700 transition duration-200 hover:scale-105;
}

.btn-primary-overviews {
  @apply bg-ochre-600 sm:mx-auto shadow-md hover:shadow-ochre-100/20 border sm:!max-w-[250px] border-ochre-600 text-white font-semibold px-5 py-2 flex items-center rounded-sm justify-center gap-2 cursor-pointer hover:bg-white hover:border-ochre-700 hover:text-ochre-700 transition duration-200 hover:scale-105;
}
.btn-primary-navbar {
  @apply bg-ochre-600 mx-auto shadow-md hover:shadow-ochre-100/20 border border-ochre-600 text-white font-semibold px-5 py-2 flex items-center rounded-sm justify-center gap-2 cursor-pointer hover:bg-white hover:border-ochre-700 hover:text-ochre-700 transition duration-200 hover:scale-105;
}


.btn-transparent {
  @apply bg-transparent rounded-sm border border-white px-5 py-2 text-white font-semibold cursor-pointer hover:bg-white hover:text-ochre-600 transition duration-200 hover:scale-105;
}

.title {
  @apply !text-3xl sm:!text-[2.5rem] mb-8 uppercase !font-main-header tracking-wide !text-ink-50
}
.title-black {
  @apply !text-3xl sm:!text-[2.5rem] mb-8 uppercase !font-main-header tracking-wide !text-ink-950
}
.subtitle {
  @apply font-sans font-medium text-ochre-600 uppercase  !text-xs sm:!text-base inline-block
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-black
}

