@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-title: 'Orbitron Variable', 'serif';
  --font-ubuntu: 'Ubuntu Sans Variable', 'sans-serif';
  /* --font-sans: 'Poppins', 'sans-serif'; */
  --font-sans: 'Inter Variable', 'sans-serif';

  --color-muted-50: #f5f6f6;
  --color-muted-100: #e4e7e9;
  --color-muted-200: #ccd2d5;
  --color-muted-300: #a9b3b7;
  --color-muted-400: #7e8b92;
  --color-muted-500: #637077;
  --color-muted-600: #555f65;
  --color-muted-700: #495155;
  --color-muted-800: #3d4246;
  --color-muted-900: #393d40;
  --color-muted-950: #232629;

  --color-monza-50: #fff1f2;
  --color-monza-100: #ffe1e2;
  --color-monza-200: #ffc7c9;
  --color-monza-300: #ffa0a4;
  --color-monza-400: #ff6a70;
  --color-monza-500: #f83b43;
  --color-monza-600: #e61c24;
  --color-monza-700: #bb131a;
  --color-monza-800: #a0141a;
  --color-monza-900: #84181c;
  --color-monza-950: #48070a;

  --color-lucky-50: #f0f3fe;
  --color-lucky-100: #dee3fb;
  --color-lucky-200: #c4cff9;
  --color-lucky-300: #9cb0f4;
  --color-lucky-400: #6d87ed;
  --color-lucky-500: #4b60e6;
  --color-lucky-600: #3641da;
  --color-lucky-700: #2d30c8;
  --color-lucky-800: #2b2aa3;
  --color-lucky-900: #272881;
  --color-lucky-950: #242362;


  --color-ochre-50: #fdf8ed;
  --color-ochre-100: #f9eed3;
  --color-ochre-200: #f1daa5;
  --color-ochre-300: #e7bf6e;
  --color-ochre-400: #db9f41;
  --color-ochre-500: #d08b35;
  --color-ochre-600: #bd7633; /* Base original website color */
  --color-ochre-700: #9d5a2b;
  --color-ochre-800: #804928;
  --color-ochre-900: #6a3e24;
  --color-ochre-950: #3b1f11;

  --color-ink-50: #f6f6f6;
  --color-ink-100: #e7e7e7;
  --color-ink-200: #d1d1d1;
  --color-ink-300: #b0b0b0;
  --color-ink-400: #888888;
  --color-ink-500: #6d6d6d;
  --color-ink-600: #5d5d5d;
  --color-ink-700: #4f4f4f;
  --color-ink-800: #454545;
  --color-ink-900: #3d3d3d;
  --color-ink-950: #0e0e0e;

  --animate-slow-zoom: slow-zoom 27s ease forwards;
  --animate-fast-zoom: fast-zoom 9s ease alternate infinite;
  --animate-medium-zoom: medium-zoom 15s ease-in-out forwards;

  @keyframes medium-zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }

  @keyframes slow-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
  
    @keyframes fast-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
    }
}


.btn-primary {
  @apply bg-ochre-600 border border-ochre-600 text-white font-semibold px-5 py-2 flex items-center rounded-sm justify-center gap-2 cursor-pointer hover:bg-white hover:border-ochre-700 hover:text-ochre-700 transition duration-200 hover:scale-105;
}

.btn-transparent {
  @apply bg-transparent rounded-sm border border-white px-5 py-2 text-white font-semibold cursor-pointer hover:bg-white hover:text-ochre-600 transition duration-200 hover:scale-105;
}

.title {
  @apply font-sans text-3xl md:text-4xl lg:text-5xl mb-4
}

.subtitle {
  @apply text-lg md:text-xl font-bold text-ochre-600 max-w-3xl mx-auto
}

.key-detail-title {
  @apply font-title text-lucky-950 font-extrabold italic
}
.paragraph-text {
  @apply text-lg text-gray-600 mb-8 leading-relaxed;
}
.item-text {
  @apply text-base text-gray-600 leading-relaxed;
}
.item-text-red {
  @apply text-lg text-monza-600 font-bold leading-relaxed;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-black
}